@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $whiteColor;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;

    &:hover {
        color: $redColor;
    }
}

.links {
    background-color: $blackColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
}

.space {
    margin-right: 25px;
}